body {
  background-color: #e0e0e0;
  background-size: cover;
  background-attachment: fixed;
}

/*-----
  Fonts
  -----*/
@font-face {
  src: url(public/assets/fonts/Comfortaa-VariableFont_wght.ttf);
  font-family: comfortaa;
}

@font-face {
  src: url(public/assets/fonts/Pacifico-Regular.ttf);
  font-family: pacifico;
}

/*------------------
  Estilos del cuerpo
  ------------------*/

.main-card {
  width: 450px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  20px 20px 60px #bebebe,
              -20px -20px 60px #ffffff;
  padding: 40px;
  text-align: center;
  color: #898989;
  margin: auto;
  margin-top: 5%;
  font-family: comfortaa, "Century Gothic", sans-serif;
}

/*--------------------------------- 
  Estilos del parrafo y los titulos
  ---------------------------------*/

.main-card__title {
  font-size: 6vmin;
  letter-spacing: 4px;
  font-weight: 100;
  font-family: pacifico, "Century Gothic", sans-serif;
}

.main-card__subtitle {
  font-size: 4vmin;
  letter-spacing: 3px;
  font-weight: 100;
}

.main-card__paragraph {
  letter-spacing: 1.5px;
  text-align: justify;
  line-height: 2em;
}

/*-----------------
  Estilos de los li 
  -----------------*/

ul {
  margin: 0;
  padding: 0;
}

.main-card__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  font-size: 20px; 
  margin-left: 10px;
  color: #898989;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow:  5px 5px 11px #bebebe,
              -5px -5px 11px #ffffff;
}

.main-card__link:active {
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: inset 5px 5px 11px #bebebe,
              inset -5px -5px 11px #ffffff;
}


@media screen and (min-width: 360px)
              and (max-width: 1040px){
  .main-card__link{
    font-size: 50px;
  }
}
